{% load static %}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="{% static 'wallet/script.js' %}"></script>

<title>{% block title %}Transfer Balance{% endblock %}</title>
{% block body %}
{% include 'menu_base.html' %}
    <div class="row">
{% if code_rec %}
    {% if owners %}
        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                <div id="load" style="display: none">
	<div class="f_circleG" id="frotateG_01"></div>
	<div class="f_circleG" id="frotateG_02"></div>
	<div class="f_circleG" id="frotateG_03"></div>
	<div class="f_circleG" id="frotateG_04"></div>
	<div class="f_circleG" id="frotateG_05"></div>
	<div class="f_circleG" id="frotateG_06"></div>
	<div class="f_circleG" id="frotateG_07"></div>
	<div class="f_circleG" id="frotateG_08"></div>
</div>
                        {% include 'form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Send Money</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

        </div>
    </div>


{% endblock %}